<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
</head>
<body>
    <div>
    <h1>Bank account</h1>
    <h3>Joe Banker</h3>
    <b>Balance:</b> <b id="balance">0</b> <br><br>

    <button onclick="getLoan()">Get loan</button> <br><br>

    <div>
    
    <b>Outstanding loan</b> <b id="outstandingLoan">0</b> <b>kr</b>  <br>
    <button onclick="repayLoan()">Repay loan</button>  
    </div>
    
    </div>

    <div>
        <h1>Work</h1>
        <b>Pay:</b> <b id="pay">0</b> <br><br>   
    
        <button onclick="transferPayToBank()">Bank</button> <br><br>
        <button onclick="incrementPay()">Work</button> <br><br>
    
    </div>
    
</body>
<footer>
    <script src="/Model/JoeBanker.js"></script>
</footer>
</html>